@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;  
}

span {
  font-size: 17px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note {
  display: block;
  align-items: center;
  span{
    margin-right: 10px;
  }
  textarea{
    position: relative;
    width: 100%;
  }
}
.note:hover {
  background-color: antiquewhite;
}

.note-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
